<article class="botoes">
<p class="button">
<button type="button" id="calcular" {{on "click" this.calculate}}>Calcular o preço total </button>
<button type="button" id="add-order">Comprar</button>
<input type="button" onclick="funcao1()" value="Exibir Alert" />
</p>
</article>