<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>KompreJunto</h1>
  </LinkTo>
  <div class="create">
    <LinkTo @route="new-order" class="menu-new-order">
      Criar novos pedidos
    </LinkTo>
    <LinkTo @route="orders" class="menu-orders">
      Pedidos
    </LinkTo>
  </div>
</nav>